In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('datasets/FoodInsecurity_Hispanic_Demographics_Tone_Preferences_Dataset.xlsx')

In [6]:
df.head(2)

,age,gender,ethnicity,race,education,marital_status,income,employment,language,disability,states,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8
0,45-54,female,non hispanic,native american,High School,na,"$25,000 - $49,999",Employed Part time,both,i do not have a disability,indiana,Persuasive,Simplier,Empathetic,Persuasive,Original,Original,Persuasive,Original
1,18-24,male,hispanic,white,High School,single,"Less than $25,000",Employed Part time,english,i do not have a disability,illinois,Original,Simplier,Empathetic,Simplier,Simplier,Original,Original,Persuasive

In [7]:
df.columns

Index(['age', 'gender', 'ethnicity', 'race', 'education', 'marital_status',
       'income', 'employment', 'language', 'disability', 'states', 'sample_1',
       'sample_2', 'sample_3', 'sample_4', 'sample_5', 'sample_6', 'sample_7',
       'sample_8'],
      dtype='object')

In [8]:
demographics = df[['age', 'gender', 'ethnicity', 'race', 'education', 'marital_status',
       'income', 'employment', 'language']]

In [9]:
demographics.head(2)

,age,gender,ethnicity,race,education,marital_status,income,employment,language
0,45-54,female,non hispanic,native american,High School,na,"$25,000 - $49,999",Employed Part time,both
1,18-24,male,hispanic,white,High School,single,"Less than $25,000",Employed Part time,english

In [10]:
demographics.to_excel('datasets/demographics-data.xlsx', index=False)